*{
  margin: 0;          /* siempre usar esto  */
  box-sizing: border-box;   
} 
body {
background : url(./images/navidad.png) top center no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fav{
  border: 1px solid red;
}
